/* Potential Font Choices */
/* font-family: 'Great Vibes', cursive;
font-family: 'Parisienne', cursive;
font-family: 'Playfair Display', serif;
font-family: 'PT Serif', serif; */

/* Heading Styles */
.totalHeading {
  background-color: white;
  text-align: 'center';
  font-size: 120%;
  border-bottom: 2px solid grey;
  margin-bottom: 40px;
}

.mainHeading {
  font-family: 'Parisienne', cursive;  color: black;
  text-align: 'center';
  font-size: 7rem;
}


.instructionHeading {
  font-family: 'PT Serif', serif;
  font-size: 2rem;
}

.scoreDisplay {
  font-family: 'PT Serif', serif;
  font-size: 3rem;
}

/* President Display Styles */
.presidentDiv {
  margin: 5px -10px;
}

.presidentImage {
  border-radius: 10px;
  box-shadow: 1px 1px #888888;
  cursor: pointer;
}

/* Pop Up Styles */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.popup_inner {
  position: absolute;
  width: 50%;
  left: 30%;
  right: 30%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  margin-left: -40px;
  background: white;
  border-radius: 10px;
}

.winHeading {
  font-family: 'Parisienne', cursive;  color: black;
  font-size: 7rem;
  margin-left: 7%;
}

img.losingImage {
  margin-left: 33%;
  border-radius: 5px;
}

.losingStatement {
  font-family: 'PT Serif', serif;
  text-align: center;
}

.resetGameButton {
  width: 30%;
  height: 40px;
  font-family: 'PT Serif', serif;
  font-size: 300%;
  border: 1px solid black;
  margin-left: 35%;
}

.buttonText {
  font-size: 20px;
}

.statuePicture {
  width: 90%;
  height: auto;
  border-radius: 10px;
  margin-left: 7%;
}

.leftLeaf {
  margin-top: 40px;
  height: 50%;
  width: auto;
  float: left;
}
.rightLeaf {
  margin-top: 40px;
  height: 50%;
  width: auto;
  float:right;
}